<!doctype html>
<html>
<head>
    <title>{{= it.title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    {{= it.body }}
    <div id="content"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/paper-full.min.js"></script>
    <script src="/js/lib/oo.js"></script>
    <script src="/js/behavior.js"></script>
    <script src="/js/animatedobject.js"></script>
    <script src="/js/louie.js"></script>
    <script src="/js/chicken.js"></script>
    <script src="/js/statusbar.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>