<canvas resize="true" id="canvas-louie"></canvas>
<img class="inv" src="/img/looping_louie.png" id="louie" />

<img class="inv" src="/img/chicken_black-1.png" id="chicken_black-1" />
<img class="inv" src="/img/chicken_black-2.png" id="chicken_black-2" />
<img class="inv" src="/img/chicken_black-3.png" id="chicken_black-3" />
<img class="inv" src="/img/chicken_black-dead.png" id="chicken_black-dead" />
<img class="inv" src="/img/chicken_yellow-1.png" id="chicken_yellow-1" />
<img class="inv" src="/img/chicken_yellow-2.png" id="chicken_yellow-2" />
<img class="inv" src="/img/chicken_yellow-3.png" id="chicken_yellow-3" />
<img class="inv" src="/img/chicken_yellow-dead.png" id="chicken_yellow-dead" />
<img class="inv" src="/img/chicken_blue-1.png" id="chicken_blue-1" />
<img class="inv" src="/img/chicken_blue-2.png" id="chicken_blue-2" />
<img class="inv" src="/img/chicken_blue-3.png" id="chicken_blue-3" />
<img class="inv" src="/img/chicken_blue-dead.png" id="chicken_blue-dead" />
<img class="inv" src="/img/chicken_red-1.png" id="chicken_red-1" />
<img class="inv" src="/img/chicken_red-2.png" id="chicken_red-2" />
<img class="inv" src="/img/chicken_red-3.png" id="chicken_red-3" />
<img class="inv" src="/img/chicken_red-dead.png" id="chicken_red-dead" />
<img class="inv" src="/img/chicken_green-1.png" id="chicken_green-1" />
<img class="inv" src="/img/chicken_green-2.png" id="chicken_green-2" />
<img class="inv" src="/img/chicken_green-3.png" id="chicken_green-3" />
<img class="inv" src="/img/chicken_green-dead.png" id="chicken_green-dead" />

