html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/looping_louie_splash_screen.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.animate {
    background-image: none;
}

.inv {
    display: none;
}


